
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.container {
    width: 85%;
    margin: 20px auto;
    display: grid;
    gap: 20px;

}

.grid-item{
    width: 85%;
    margin: 0 auto;
    border: 2px solid black;
    padding: 2.5em;
}

.person-info{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}

.person-info img{   
    width: 28px;
    min-height: 28px;
    border-radius: 50%;
    object-fit: cover;


}
.person-info h2{
    font-size: 13;
}
.card-1 {
    position: relative;
    background-color: #733FC8;
  }

  .quote-image {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
  }
  
.card-2{
    background-color: #48556A;
}
.card-3{
    background-color: #FFFF;
}
.card-4{
    background-color: #19202D;
}
.card-5{
    background-color: #FFFF;
}