/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: #F2F2F2;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.container {
  width: 75%;
  margin: 100px auto ;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.grid-item{
    padding: 2.5em;
    border-radius: 20px;
    display: grid;
    grid-template-areas: 
      "name name "
      "desc desc desc"
      "quote quote quote";
    gap: 10px ;
    color: #FFF;
}

.person-info{
    display: grid;
    grid-template-areas: 
      "profile-pic name"
      "profile-pic title";
      justify-content: start;
      align-content: center;
  }

.person-info img{   
    grid-area: profile-pic;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    align-self: flex-start;
}

.person-info h2{
    grid-area: name;
    font-size: 13px;
    align-self: flex-end;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    color: #FFFF;
    grid-area: name;
}

.person-info p{
    grid-area: title;
    align-self: flex-start;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 11px;
    color: #CFCFCF;
}

.person-info img{   
    grid-area: profile-pic;
    border-radius: 50%;
    object-fit: cover;


}

.card-1 {
    position: relative;
    background-color: #733FC8;
  }

  .card-1 img{
    border: 4px solid #A775F1;
  }

.card-2{
  background-color: #48556A;
}

.card-3{
    background-color: #FFFF;
    color: #CFCFCF;
}
.card-3 h2{
  color: black;
}
.card-3 .description {
  color: black;
}
.card-4{
    background-color: #19202D;
}

.card-4 img{
  border: 4px solid #A775F1;
}
.card-5{
    background-color: #FFFF;
    color: #CFCFCF;
}
.card-5 h2{
  color: black;
}

.card-5 .description {
  color: black;
}



  .quote-image {
    position: absolute;
    top: 10px; 
    right: 10px; 
    width: 50px; 
    height: 50px;
  }
  


.description{
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}

.quote{
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  color: #CFCFCF;
}

@media (min-width: 900px) {
  .container{
    grid-template-areas:
      "Daniel Daniel Jonathon Kira"
      "Jeanette Patrick Patrick Kira" ;
  }

  .card-1{
    grid-area: Daniel;
  }
  .card-2{
    grid-area: Jonathon;
  }

  .card-3{
    grid-area: Jeanette;
  }
  .card-4{
    grid-area: Patrick;
  }
  .card-5{
    grid-area: Kira;
  }
}

